@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200,300,400,500,600,700&display=swap');

:root{
    --main:#f1f2f6;
    --bg-clr:#54a0ff;
    --bg-clr2:#70a1ff;
    --bg-clr3:#f1f2f6;
    --text-clr2:#222f3e;
    --white:#ffff;
    --box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    text-decoration: none !important;
    list-style: none;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    display: none;
}

body{
    background: var(--main);
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    color: var(--text-clr2);
    text-align: center;
    text-transform: capitalize;
}

.heading h2{
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.heading h1{
    font-size: 3.5rem;
}

.heading h3{
    font-size: 2rem;
    padding-bottom: 2.5rem;
}

.container{
    max-width: 1230px;
    padding: 1.5rem;
    margin: 0 auto;
}
 
.accordion-button{
    font-size: 1.5rem;
}

.accordion-item{
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.accordion-body span{
    font-size: 1.5rem;
}

#carouselExampleDark{
    width: 30%;
    height: 50%;
}